src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/lin/1.0/lineage.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gsm="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:lin="http://www.isotc211.org/2005/lin/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/lin/1.0/2012-10-13" version="">
  <annotation>
    <documentation>MD_Scope and MD_Scope description move to Metadata Information</documentation>
  </annotation>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" schemaLocation="../../gsm/1.0/gsm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gts/gts.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="LI_ProcessStep" substitutionGroup="gco:AbstractObject" type="lin:LI_ProcessStep_Type"/>
  <complexType name="LI_ProcessStep_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="description" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="rationale" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="stepDateTime" type="gts:TM_Primitive_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="processor" type="cit:CI_Responsibility_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="reference" type="cit:CI_Citation_PropertyType"/>
          <element minOccurs="0" name="scope" type="cit:MD_Scope_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="source" type="lin:LI_Source_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">lin:sourceStep</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_ProcessStep_PropertyType">
    <sequence minOccurs="0">
      <element ref="lin:LI_ProcessStep"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LI_Source" substitutionGroup="gco:AbstractObject" type="lin:LI_Source_Type"/>
  <complexType name="LI_Source_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="sourceSpatialResolution" type="gsm:MD_Resolution_PropertyType"/>
          <element minOccurs="0" name="sourceReferenceSystem" type="gsm:MD_ReferenceSystem_PropertyType"/>
          <element minOccurs="0" name="sourceCitation" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="sourceMetadata" type="cit:CI_Citation_PropertyType"/>
          <element minOccurs="0" name="scope" type="cit:MD_Scope_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="sourceStep" type="lin:LI_ProcessStep_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">lin:source</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_Source_PropertyType">
    <sequence minOccurs="0">
      <element ref="lin:LI_Source"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LI_Lineage" substitutionGroup="gco:AbstractObject" type="lin:LI_Lineage_Type"/>
  <complexType name="LI_Lineage_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="statement" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="scope" type="cit:MD_Scope_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalDocumentation" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="source" type="lin:LI_Source_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="processStep" type="lin:LI_ProcessStep_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_Lineage_PropertyType">
    <sequence minOccurs="0">
      <element ref="lin:LI_Lineage"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
