src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mim/1.0/codelistItem.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mim="http://www.isotc211.org/2005/mim/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mim/1.0/2012-10-13" version="">
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CT_Codelist" substitutionGroup="mim:AbstractCT_Item" type="mim:CT_Codelist_Type"/>
  <complexType name="CT_Codelist_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Item_Type">
        <sequence>
          <element maxOccurs="unbounded" name="codeEntry" type="mim:CT_CodelistValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_Codelist_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_Codelist"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CodelistValue" substitutionGroup="mim:AbstractCT_Item" type="mim:CT_CodelistValue_Type"/>
  <complexType name="CT_CodelistValue_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Item_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CodelistValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CodelistValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CodelistCatalogue" substitutionGroup="mim:AbstractCT_Catalogue" type="mim:CT_CodelistCatalogue_Type"/>
  <complexType name="CT_CodelistCatalogue_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Catalogue_Type">
        <sequence>
          <element maxOccurs="unbounded" name="codelistItem" type="mim:CT_Codelist_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CodelistCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CodelistCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
