src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mim/1.0/crsItem.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mim="http://www.isotc211.org/2005/mim/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mim/1.0/2012-10-13" version="">
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CT_CrsCatalogue" substitutionGroup="mim:AbstractCT_Catalogue" type="mim:CT_CrsCatalogue_Type"/>
  <complexType name="CT_CrsCatalogue_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Catalogue_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="axis" type="mim:CT_CoordinateSystemAxis_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operationMethod" type="mim:CT_OperationMethod_PropertyType"/>
          <element maxOccurs="unbounded" name="crs" type="mim:CT_CRS_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="ellipsoid" type="mim:CT_Ellipsoid_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="datum" type="mim:CT_Datum_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameters" type="mim:CT_OperationParameters_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operation" type="mim:CT_Operation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="coordinateSystem" type="mim:CT_CoordinateSystem_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="primeMeridian" type="mim:CT_PrimeMeridian_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CrsCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CrsCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_Operation" substitutionGroup="gco:AbstractObject" type="mim:CT_Operation_Type"/>
  <complexType name="CT_Operation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_Operation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_Operation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_PrimeMeridian" substitutionGroup="gco:AbstractObject" type="mim:CT_PrimeMeridian_Type"/>
  <complexType name="CT_PrimeMeridian_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_PrimeMeridian_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_PrimeMeridian"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CoordinateSystem" substitutionGroup="gco:AbstractObject" type="mim:CT_CoordinateSystem_Type"/>
  <complexType name="CT_CoordinateSystem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CoordinateSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CoordinateSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_Ellipsoid" substitutionGroup="gco:AbstractObject" type="mim:CT_Ellipsoid_Type"/>
  <complexType name="CT_Ellipsoid_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_Ellipsoid_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_Ellipsoid"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_OperationParameters" substitutionGroup="gco:AbstractObject" type="mim:CT_OperationParameters_Type"/>
  <complexType name="CT_OperationParameters_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_OperationParameters_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_OperationParameters"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CoordinateSystemAxis" substitutionGroup="gco:AbstractObject" type="mim:CT_CoordinateSystemAxis_Type"/>
  <complexType name="CT_CoordinateSystemAxis_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CoordinateSystemAxis_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CoordinateSystemAxis"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_Datum" substitutionGroup="gco:AbstractObject" type="mim:CT_Datum_Type"/>
  <complexType name="CT_Datum_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_Datum_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_Datum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CRS" substitutionGroup="gco:AbstractObject" type="mim:CT_CRS_Type"/>
  <complexType name="CT_CRS_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_CRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_OperationMethod" substitutionGroup="gco:AbstractObject" type="mim:CT_OperationMethod_Type"/>
  <complexType name="CT_OperationMethod_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_OperationMethod_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_OperationMethod"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
