src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mim/1.0/uomItem.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mim="http://www.isotc211.org/2005/mim/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mim/1.0/2012-10-13" version="">
  <include schemaLocation="mim.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CT_UnitOfMeasure" substitutionGroup="mim:AbstractCT_Item" type="mim:CT_UnitOfMeasure_Type"/>
  <complexType name="CT_UnitOfMeasure_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Item_Type">
        <sequence>
          <element minOccurs="0" name="quantityType" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="uomSymbol" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_UnitOfMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_UnitOfMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_UomCatalogue" substitutionGroup="mim:AbstractCT_Catalogue" type="mim:CT_UomCatalogue_Type"/>
  <complexType name="CT_UomCatalogue_Type">
    <complexContent>
      <extension base="mim:AbstractCT_Catalogue_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_UomCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="mim:CT_UomCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
