src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/rdi/1.0/distribution.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:rdi="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" version="">
  <annotation>
    <documentation>no changes for implementation (smr 20120711)</documentation>
  </annotation>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gts/gts.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_MediumFormatCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_MediumFormatCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_MediumFormatCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Distribution" substitutionGroup="gco:AbstractObject" type="rdi:MD_Distribution_Type">
    <annotation>
      <documentation>Information about the distributor of and options for obtaining the dataset</documentation>
    </annotation>
  </element>
  <complexType name="MD_Distribution_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributionFormat" type="rdi:MD_Format_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributor" type="rdi:MD_Distributor_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="transferOptions" type="rdi:MD_DigitalTransferOptions_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Distribution_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_Distribution"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Medium" substitutionGroup="gco:AbstractObject" type="rdi:MD_Medium_Type">
    <annotation>
      <documentation>Information about the media on which the data can be distributed</documentation>
    </annotation>
  </element>
  <complexType name="MD_Medium_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="name" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Name of the media on which the dataset can be received
-Examples:"CD-ROM", "3.5 inch floppy disk", "5.25 inch floppy disk", "9-track tape", "4 mm cartridge tape", "8 mm cartridge tape", "1/4 inch cartridge tape", "on-line", " satellite", "telephone link", "brochure"</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="density" type="gco:Real_PropertyType">
            <annotation>
              <documentation>Density in which the dataset can be recorded</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="densityUnits" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Units of measure for the recording density</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="volumes" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>Number of items in the media identified</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="mediumFormat" type="rdi:MD_MediumFormatCode_PropertyType">
            <annotation>
              <documentation>Options available or method used to write the dataset to the medium
-Examples: "cpio", "tar", "High Sierra", "ISO 9660", "ISO 9660 with Rock Ridge extensions", "ISO 9660 with Apple HFS extensions"</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="mediumNote" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of other limitations or requirements for using the medium</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="identifier" type="cit:MD_Identifier_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Medium_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_Medium"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MediumNameCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_MediumNameCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_MediumNameCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Distributor" substitutionGroup="gco:AbstractObject" type="rdi:MD_Distributor_Type">
    <annotation>
      <documentation>Information about the distributor</documentation>
    </annotation>
  </element>
  <complexType name="MD_Distributor_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="distributorContact" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Party from whom the dataset may be obtained</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="distributionOrderProcess" type="rdi:MD_StandardOrderProcess_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributorFormat" type="rdi:MD_Format_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">rdi:formatDistributor</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="distributorTransferOptions" type="rdi:MD_DigitalTransferOptions_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Distributor_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_Distributor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_DigitalTransferOptions" substitutionGroup="gco:AbstractObject" type="rdi:MD_DigitalTransferOptions_Type">
    <annotation>
      <documentation>Technical means and media by which a dataset is obtained from the distributor</documentation>
    </annotation>
  </element>
  <complexType name="MD_DigitalTransferOptions_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="unitsOfDistribution" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Tiles, layers, geographic areas, etc., in which data is available</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="transferSize" type="gco:Real_PropertyType">
            <annotation>
              <documentation>Estimated size of the transferred dataset in megabytes. The transfer size is &gt; 0.0</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="onLine" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>Information about online sources from which the dataset can be obtained</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="offLine" type="rdi:MD_Medium_PropertyType"/>
          <element minOccurs="0" name="transferFrequency" type="gts:TM_PeriodDuration_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributionFormat" type="rdi:MD_Format_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_DigitalTransferOptions_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_DigitalTransferOptions"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_StandardOrderProcess" substitutionGroup="gco:AbstractObject" type="rdi:MD_StandardOrderProcess_Type">
    <annotation>
      <documentation>Common ways in which the dataset may be obtained or received, and related instructions and fee information</documentation>
    </annotation>
  </element>
  <complexType name="MD_StandardOrderProcess_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="fees" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Fees and terms for retrieving the dataset.  Include monetary units.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="plannedAvailableDateTime" type="gco:DateTime_PropertyType">
            <annotation>
              <documentation>Date and time when the dataset will be available.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="orderingInstructions" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>General instructions , terms and services provided  by the distributor when ordering the dataset</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="turnaround" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Typical turnaround time for the filling of an order</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="orderOptionsType" type="gco:RecordType_PropertyType"/>
          <element minOccurs="0" name="orderOptions" type="gco:Record_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_StandardOrderProcess_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_StandardOrderProcess"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Format" substitutionGroup="gco:AbstractObject" type="rdi:MD_Format_Type">
    <annotation>
      <documentation>Description of the form of the data to be distributed</documentation>
    </annotation>
  </element>
  <complexType name="MD_Format_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="formatSpecificationCitation" type="cit:CI_Citation_PropertyType"/>
          <element minOccurs="0" name="amendmentNumber" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Amendment number of the format version</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fileDecompressionTechnique" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Recommendations of algorithms or processes that can be applied to read or expand datasets to which data compression techniques have been applied</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="medium" type="rdi:MD_Medium_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="formatDistributor" type="rdi:MD_Distributor_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">rdi:distributorFormat</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Format_PropertyType">
    <sequence minOccurs="0">
      <element ref="rdi:MD_Format"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
