src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mda/1.0/metadataApplication.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mda="http://www.isotc211.org/2005/mda/1.0/2012-10-13" xmlns:mdb="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mda/1.0/2012-10-13" version="">
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" schemaLocation="../../mdb/1.0/mdb.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="SV_Service" substitutionGroup="mda:AbstractDS_Resource" type="mda:SV_Service_Type"/>
  <complexType name="SV_Service_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_Service_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:SV_Service"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_ProductionSeries" substitutionGroup="mda:DS_Series" type="mda:DS_ProductionSeries_Type"/>
  <complexType name="DS_ProductionSeries_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_ProductionSeries_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_ProductionSeries"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_DataSet" substitutionGroup="mda:AbstractDS_Resource" type="mda:DS_DataSet_Type">
    <annotation>
      <documentation>Identifiable collection of data</documentation>
    </annotation>
  </element>
  <complexType name="DS_DataSet_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_DataSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_DataSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDS_Resource" substitutionGroup="gco:AbstractObject" type="mda:AbstractDS_Resource_Type"/>
  <complexType abstract="true" name="AbstractDS_Resource_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="partOf" type="mda:DS_Aggregate_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mda:composedOf</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="has" type="mdb:MD_Metadata_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Resource_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:AbstractDS_Resource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Sensor" substitutionGroup="mda:DS_Series" type="mda:DS_Sensor_Type"/>
  <complexType name="DS_Sensor_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Sensor_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Sensor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_OtherAggregate" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_OtherAggregate_Type"/>
  <complexType name="DS_OtherAggregate_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_OtherAggregate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_OtherAggregate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Platform" substitutionGroup="mda:DS_Series" type="mda:DS_Platform_Type"/>
  <complexType name="DS_Platform_Type">
    <complexContent>
      <extension base="mda:DS_Series_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Platform_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Platform"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDS_Aggregate" substitutionGroup="mda:AbstractDS_Resource" type="mda:AbstractDS_Aggregate_Type">
    <annotation>
      <documentation>Identifiable collection of datasets</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractDS_Aggregate_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Resource_Type">
        <sequence>
          <element maxOccurs="unbounded" name="composedOf" type="mda:DS_Resource_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mda:partOf</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Aggregate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:AbstractDS_Aggregate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Initiative" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_Initiative_Type"/>
  <complexType name="DS_Initiative_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Initiative_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Initiative"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_Series" substitutionGroup="mda:AbstractDS_Aggregate" type="mda:DS_Series_Type"/>
  <complexType name="DS_Series_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_Series_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_Series"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DS_StereoMate" substitutionGroup="mda:DS_OtherAggregate" type="mda:DS_StereoMate_Type"/>
  <complexType name="DS_StereoMate_Type">
    <complexContent>
      <extension base="mda:DS_OtherAggregate_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DS_StereoMate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mda:DS_StereoMate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
