src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mai/1.0/acquisitionInformationImagery.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2012-10-13" xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mai/1.0/2012-10-13" version="">
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gss/gss.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" schemaLocation="../../rmd/1.0/rmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MI_RequestedDate" substitutionGroup="gco:AbstractObject" type="mai:MI_RequestedDate_Type">
    <annotation>
      <documentation>Description: range of date validity
shortName: ReqstDate</documentation>
    </annotation>
  </element>
  <complexType name="MI_RequestedDate_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="requestedDateOfCollection" type="gco:DateTime_PropertyType">
            <annotation>
              <documentation>Description: preferred date and time of collection
shortName: collectDate</documentation>
            </annotation>
          </element>
          <element name="latestAcceptableDate" type="gco:DateTime_PropertyType">
            <annotation>
              <documentation>Description: latest date and time collection must be completed
shortName: latestDate</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_RequestedDate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_RequestedDate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Requirement" substitutionGroup="gco:AbstractObject" type="mai:MI_Requirement_Type">
    <annotation>
      <documentation>Description: requirement to be satisfied by the planned data acquisition
shortName: Requirement</documentation>
    </annotation>
  </element>
  <complexType name="MI_Requirement_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="citation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: identification of reference or guidance material for the requirement
shortName: reqRef</documentation>
            </annotation>
          </element>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: unique name, or code, for the requirement
shortName: reqId</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="requestor" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Description: origin of requirement
shortName: requestor</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="recipient" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Description: person(s), or body(ies), to recieve results of requirement
shortName: recipient</documentation>
            </annotation>
          </element>
          <element name="priority" type="gml:CodeType">
            <annotation>
              <documentation>Description: relative ordered importance, or urgency, of the requirement
shortName: reqPri</documentation>
            </annotation>
          </element>
          <element name="requestedDate" type="mai:MI_RequestedDate_PropertyType">
            <annotation>
              <documentation>Description:  required or preferred acquisition date and time
shortName: reqDate</documentation>
            </annotation>
          </element>
          <element name="expiryDate" type="gco:DateTime_PropertyType">
            <annotation>
              <documentation>Description: date and time after which collection is no longer valid
shortName: reqExpire</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Requirement_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Requirement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Platform" substitutionGroup="gco:AbstractObject" type="mai:MI_Platform_Type">
    <annotation>
      <documentation>Description: Designations for the platform used to acquire the dataset
shortName: PltfrmId</documentation>
    </annotation>
  </element>
  <complexType name="MI_Platform_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="citation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: complete citation of the platform
FGDC: Platform_Full_Name
Position: 3
shortName: pltNam
Conditional: if shortName not specified</documentation>
            </annotation>
          </element>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: Unique identification of the platform
shortName: pltId</documentation>
            </annotation>
          </element>
          <element name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Narrative description of the platform supporting the instrument
FGDC: Platform_Description
Position: 2
shortName: pltfrmDesc</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="sponsor" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Description: organization responsible for building, launch, or operation of the platform
FGDC: Platform_Sponsor
Position: 6
shortName: pltfrmSpnsr</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="instrument" type="mai:MI_Instrument_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:mountedOn</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Platform_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Platform"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Operation" substitutionGroup="gco:AbstractObject" type="mai:MI_Operation_Type">
    <annotation>
      <documentation>Description: Designations for the operation used to acquire the dataset
shortName: MssnId</documentation>
    </annotation>
  </element>
  <complexType name="MI_Operation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Description of the mission on which the platform observations are part and the objectives of that mission
FGDC: Mission_Description
Position: 3
shortName: mssnDesc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="citation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: character string by which the mission is known
FGDC: Mission_Name
Position: 1
shortName: pltMssnNam
NITF_ACFTA:AC_MSN_ID</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: character string by which the mission is known
FGDC: Mission_Name
Position: 1
shortName: pltMssnNam
NITF_ACFTA:AC_MSN_ID</documentation>
            </annotation>
          </element>
          <element name="status" type="rmd:MD_ProgressCode_PropertyType">
            <annotation>
              <documentation>Description: status of the data acquisition
FGDC: Mission_Start_Date
Position: 4
shortName: mssnStatus</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="type" type="mai:MI_OperationTypeCode_PropertyType">
            <annotation>
              <documentation>Description: status of the data acquisition
FGDC: Mission_Start_Date
Position: 4
shortName: mssnStatus</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="platform" type="mai:MI_Platform_PropertyType">
            <annotation>
              <documentation>Description: Platform (or platforms) used in the operation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="childOperation" type="mai:MI_Operation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="objective" type="mai:MI_Objective_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="significantEvent" type="mai:MI_Event_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Operation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Operation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_PlatformPass" substitutionGroup="gco:AbstractObject" type="mai:MI_PlatformPass_Type">
    <annotation>
      <documentation>Description: identification of collection coverage
shortName: PlatformPass</documentation>
    </annotation>
  </element>
  <complexType name="MI_PlatformPass_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedEvent" type="mai:MI_Event_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:relatedPass</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: unique name of the pass
shortName: passId</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="extent" type="gss:GM_Object_PropertyType">
            <annotation>
              <documentation>Description: Area covered by the pass
shortName: passExt</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_PlatformPass_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_PlatformPass"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_OperationTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MI_OperationTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_OperationTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Objective" substitutionGroup="gco:AbstractObject" type="mai:MI_Objective_Type">
    <annotation>
      <documentation>Description: Describes the characteristics, spatial and temportal extent of the intended object to be observed 
shortName: TargetId</documentation>
    </annotation>
  </element>
  <complexType name="MI_Objective_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="objectiveOccurence" type="mai:MI_Event_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:expectedObjective</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: Registered code used to identify the objective
Postion: 1
shortName: targetId</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="priority" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: priority applied to the target
Position: 3
shortName: trgtPriority</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="type" type="gml:CodeType">
            <annotation>
              <documentation>Description: collection technique for the objective
Position: 4
shortName: trgtType</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="function" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: function performed by or at the objective
Position: 5
shortName: trgtFunct</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="extent" type="cit:AbstractExtent_PropertyType">
            <annotation>
              <documentation>Description: extent information including the bounding box, bounding polygon, vertical and temporal extent of the objective
Position: 6
shortName: trgtExtent</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="pass" type="mai:MI_PlatformPass_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="sensingInstrument" type="mai:MI_Instrument_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Objective_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Objective"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_EnvironmentalRecord" substitutionGroup="gco:AbstractObject" type="mai:MI_EnvironmentalRecord_Type"/>
  <complexType name="MI_EnvironmentalRecord_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="averageAirTemperature" type="gco:Real_PropertyType"/>
          <element name="maxRelativeHumidity" type="gco:Real_PropertyType"/>
          <element name="maxAltitude" type="gco:Real_PropertyType"/>
          <element name="meterologicalConditions" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_EnvironmentalRecord_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_EnvironmentalRecord"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Event" substitutionGroup="gco:AbstractObject" type="mai:MI_Event_Type">
    <annotation>
      <documentation>Description: identification of a significant collection point within an operation
shortName: Event</documentation>
    </annotation>
  </element>
  <complexType name="MI_Event_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: Event name or number
shortName: evtId</documentation>
            </annotation>
          </element>
          <element name="trigger" type="gml:CodeType">
            <annotation>
              <documentation>Description: Initiator of the event
shortName: evtTrig</documentation>
            </annotation>
          </element>
          <element name="context" type="gml:CodeType">
            <annotation>
              <documentation>Description: Meaning of the event
shortName: evtCntxt</documentation>
            </annotation>
          </element>
          <element name="sequence" type="gml:CodeType">
            <annotation>
              <documentation>Description: Relative time ordering of the event
shortName: evtSeq</documentation>
            </annotation>
          </element>
          <element name="time" type="gco:DateTime_PropertyType">
            <annotation>
              <documentation>Description: Time the event occured
shortName: evtTime</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="relatedPass" type="mai:MI_PlatformPass_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:relatedEvent</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="expectedObjective" type="mai:MI_Objective_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:objectiveOccurence</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedSensor" type="mai:MI_Instrument_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Event_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Event"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Instrument" substitutionGroup="gco:AbstractObject" type="mai:MI_Instrument_Type">
    <annotation>
      <documentation>Description: Designations for the measuring instruments
FGDC: Platform_and_Instrument_Identification
shortName: PltfrmInstId</documentation>
    </annotation>
  </element>
  <complexType name="MI_Instrument_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="mountedOn" type="mai:MI_Platform_PropertyType">
            <annotation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">mai:instrument</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="citation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: complete citation of the instrument
FGDC: Instrument_Full_Name
Position: 1
shortName: instNam
Conditional: if shortName not specified</documentation>
            </annotation>
          </element>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: complete citation of the instrument
FGDC: Instrument_Full_Name
Position: 1
shortName: instNam
Conditional: if shortName not specified</documentation>
            </annotation>
          </element>
          <element name="type" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Code describing the type of instrument
shortName: instType</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Textual description of the instrument
shortName: instDesc</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Instrument_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Instrument"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_AcquisitionInformation" substitutionGroup="gco:AbstractObject" type="mai:MI_AcquisitionInformation_Type">
    <annotation>
      <documentation>Description: Designations for the measuring instruments and their bands, the platform carrying them, and the mission to which the data contributes
FGDC: Platform_and_Instrument_Identification, Mission_Information
shortName: PltfrmInstId</documentation>
    </annotation>
  </element>
  <complexType name="MI_AcquisitionInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="environmentalConditions" type="mai:MI_EnvironmentalRecord_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="platform" type="mai:MI_Platform_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operation" type="mai:MI_Operation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="objective" type="mai:MI_Objective_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="acquisitionRequirement" type="mai:MI_Requirement_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="instrument" type="mai:MI_Instrument_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_AcquisitionInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_AcquisitionInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
