src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mai/1.0/contentInformationImagery.xsd

<?xml version="1.0" encoding="UTF-8"?><schema 
  xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gco="http://www.isotc211.org/2005/gco" 
  xmlns:gml="http://www.opengis.net/gml/3.2" 
  xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2012-10-13" 
  xmlns:rco="http://www.isotc211.org/2005/rco/1.0/2012-10-13" 
  elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mai/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Name: Content
Position: 5</documentation>
  </annotation>
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rco/1.0/2012-10-13" schemaLocation="../../rco/1.0/rco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MI_Band" substitutionGroup="rco:MD_Band" type="mai:MI_Band_Type">
    <annotation>
      <documentation>Description: extensions to electromagnetic spectrum wavelength description
shortName: BandExt</documentation>
    </annotation>
  </element>
  <complexType name="MI_Band_Type">
    <complexContent>
      <extension base="rco:MD_Band_Type">
        <sequence>
          <element minOccurs="0" name="bandBoundaryDefinition" type="gml:CodeType">
            <annotation>
              <documentation>Description: Designation of criterion for defining maximum and minimum wavelengths for a spectral band
FGDC: Band_Boundry_Definition
Position: 1
shortName: bBndDef</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="nominalSpatialResolution" type="gco:Real_PropertyType">
            <annotation>
              <documentation>Description: Smallest distance between which separate points can be distinguished, as specified in instrument design
FGDC: Nominal_Spatial_Resolution
Position: 4
shortName: bndRes</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="transferFunctionType" type="gml:CodeType">
            <annotation>
              <documentation>Description: transform function to be used when scaling a physical value for a given element
shortName: scalXfrFunc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="transmittedPolarisation" type="gml:CodeType">
            <annotation>
              <documentation>Description: polarisation of the transmitter or detector
shortName: polarisation</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="detectedPolarisation" type="gml:CodeType">
            <annotation>
              <documentation>Description: polarisation of the transmitter or detector
shortName: polarisation</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Band_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Band"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_ImageDescription" substitutionGroup="rco:MD_ImageDescription" type="mai:MI_ImageDescription_Type">
    <annotation>
      <documentation>Description: information about the content of an image, including the description of specific range elements
shortName: ICovDesc</documentation>
    </annotation>
  </element>
  <complexType name="MI_ImageDescription_Type">
    <complexContent>
      <extension base="rco:MD_ImageDescription_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="rangeElementDescription" type="mai:MI_RangeElementDescription_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_ImageDescription_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_ImageDescription"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_RangeElementDescription" substitutionGroup="gco:AbstractObject" type="mai:MI_RangeElementDescription_Type">
    <annotation>
      <documentation>Description: description of specific range elements
shortName: RgEltDesc</documentation>
    </annotation>
  </element>
  <complexType name="MI_RangeElementDescription_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: designation associated with a set of range elements
shortName: rgEltName</documentation>
            </annotation>
          </element>
          <element name="definition" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: description of a set of specific range elements
shortName: rgEltDef</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="rangeElement" type="gco:Record_PropertyType">
            <annotation>
              <documentation>Description: specific range elements, i.e. range elements associated with a name and definition defining their meaning
shortName: rgElt</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_RangeElementDescription_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_RangeElementDescription"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_CoverageDescription" substitutionGroup="rco:MD_CoverageDescription" type="mai:MI_CoverageDescription_Type">
    <annotation>
      <documentation>Description: information about the content of a coverage, including the description of specific range elements
shortName: CCovDesc</documentation>
    </annotation>
  </element>
  <complexType name="MI_CoverageDescription_Type">
    <complexContent>
      <extension base="rco:MD_CoverageDescription_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="rangeElementDescription" type="mai:MI_RangeElementDescription_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_CoverageDescription_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_CoverageDescription"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
