src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mai/1.0/dataQualityImagery.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" 
  xmlns:gco="http://www.isotc211.org/2005/gco" 
  xmlns:gsm="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" 
  xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2012-10-13" 
  xmlns:rco="http://www.isotc211.org/2005/rco/1.0/2012-10-13" 
  xmlns:rdi="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" 
  xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" 
  xmlns:lin="http://www.isotc211.org/2005/lin/1.0/2012-10-13" 
  xmlns:dqm="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" 
  elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mai/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Name: Lineage
Position: 2</documentation>
  </annotation>
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" schemaLocation="../../gsm/1.0/gsm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rco/1.0/2012-10-13" schemaLocation="../../rco/1.0/rco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" schemaLocation="../../rdi/1.0/rdi.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" schemaLocation="../../rmd/1.0/rmd.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lin/1.0/2012-10-13" schemaLocation="../../lin/1.0/lin.xsd"/>
  <import namespace="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" schemaLocation="../../dqm/1.0/dqm.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="LE_Source" substitutionGroup="lin:LI_Source" type="mai:LE_Source_Type">
    <annotation>
      <documentation>Description: information on source of data sets for processing step
shortName: SrcDataset</documentation>
    </annotation>
  </element>
  <complexType name="LE_Source_Type">
    <complexContent>
      <extension base="lin:LI_Source_Type">
        <sequence>
          <element minOccurs="0" name="processedLevel" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: Processing level of the source data
shortName: procLevel</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="resolution" type="mai:LE_NominalResolution_PropertyType">
            <annotation>
              <documentation>Description: Distance between two adjacent pixels
shortName: procResol</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_Source_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_Source"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LE_ProcessStepReport" substitutionGroup="gco:AbstractObject" type="mai:LE_ProcessStepReport_Type">
    <annotation>
      <documentation>Description: Report of what occured during the process step
shortName: ProcStepRep</documentation>
    </annotation>
  </element>
  <complexType name="LE_ProcessStepReport_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Name of the processing report
shortName: procRepName</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Textual description of what occurred during the process step
shortName: procRepDesc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="fileType" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Type of file that contains that processing report
shortName: procRepFilTyp</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_ProcessStepReport_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_ProcessStepReport"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MX_DataFile" substitutionGroup="gco:AbstractObject" type="mai:MX_DataFile_Type"/>
  <complexType name="MX_DataFile_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="fileFormat" type="rdi:MD_Format_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MX_DataFile_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MX_DataFile"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LE_ProcessStep" substitutionGroup="lin:LI_ProcessStep" type="mai:LE_ProcessStep_Type">
    <annotation>
      <documentation>Description: Information about an event or transformation in the life of the dataset including details of the algorithm and software used for processing
FGDC: 
shortName: DetailProcStep</documentation>
    </annotation>
  </element>
  <complexType name="LE_ProcessStep_Type">
    <complexContent>
      <extension base="lin:LI_ProcessStep_Type">
        <sequence>
          <element minOccurs="0" name="processingInformation" type="mai:LE_Processing_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="report" type="mai:LE_ProcessStepReport_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="output" type="mai:LE_Source_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_ProcessStep_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_ProcessStep"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LE_Processing" substitutionGroup="gco:AbstractObject" type="mai:LE_Processing_Type">
    <annotation>
      <documentation>Description: Comprehensive information about the procedure(s), process(es) and algorithm(s) applied in the process step
shortName: Procsg</documentation>
    </annotation>
  </element>
  <complexType name="LE_Processing_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="algorithm" type="mai:LE_Algorithm_PropertyType"/>
          <element name="identifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>Description: Information to identify the processing package that produced the data
FGDC: Processing_Identifiers
Position: 1
shortName: procInfoId</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="softwareReference" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: Reference to document describing processing software
FGDC: Processing_Software_Reference
Position: 2
shortName: procInfoSwRef</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="procedureDescription" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Additional details about the processing procedures
FGDC: Processing_Procedure_Description
Position: 3
shortName: procInfoDesc</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="documentation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: Reference to documentation describing the processing
FGDC: Processing_Documentation
Position: 4
shortName: procInfoDoc</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="runTimeParameters" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: Parameters to control the processing operations, entered at run time
FGDC: Command_Line_Processing_Parameter
Position: 5
shortName: procInfoParam</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_Processing_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_Processing"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LE_Algorithm" substitutionGroup="gco:AbstractObject" type="mai:LE_Algorithm_Type">
    <annotation>
      <documentation>Description: Details of the methodology by which geographic information was derived from the instrument readings
FGDC: Algorithm_Information
shortName: Algorithm</documentation>
    </annotation>
  </element>
  <complexType name="LE_Algorithm_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="citation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Description: information identifying the algorithm and version or date
FGDC: Algorithm_Identifiers
Position: 1
shortName: algId</documentation>
            </annotation>
          </element>
          <element name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description: information describing the algorithm used to generate the data
FGDC: Algorithm_Description
Position: 2
shortName: algDesc</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_Algorithm_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_Algorithm"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="QE_Usability" substitutionGroup="dqm:AbstractDQ_Element" type="mai:QE_Usability_Type">
    <annotation>
      <documentation>Description: to: degree of adherence of a dataset to a specific set of user requirements
shortName: Usability</documentation>
    </annotation>
  </element>
  <complexType name="QE_Usability_Type">
    <complexContent>
      <extension base="dqm:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QE_Usability_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:QE_Usability"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LE_NominalResolution" substitutionGroup="gco:AbstractObject" type="mai:LE_NominalResolution_Type">
    <annotation>
      <documentation>Description: Distance between adjacent pixels
shortName: nomRes</documentation>
    </annotation>
  </element>
  <complexType name="LE_NominalResolution_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="scanningResolution" type="gco:Distance_PropertyType">
            <annotation>
              <documentation>Description: Distance between adjacent pixels in the scan plane
shortName: scanRes</documentation>
            </annotation>
          </element>
          <element name="groundResolution" type="gco:Distance_PropertyType">
            <annotation>
              <documentation>Description: Distance between adjacent pixels in the object space
shortName: groundRes</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LE_NominalResolution_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:LE_NominalResolution"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="QE_CoverageResult" substitutionGroup="dqm:DQ_Result" type="mai:QE_CoverageResult_Type">
    <annotation>
      <documentation>Description: Result of a data quality measure organising the measured values as a coverage
shortName: CoverageResult</documentation>
    </annotation>
  </element>
  <complexType name="QE_CoverageResult_Type">
    <complexContent>
      <extension base="dqm:DQ_Result_Type">
        <sequence>
          <element name="spatialRepresentationType" type="rmd:MD_SpatialRepresentationTypeCode_PropertyType">
            <annotation>
              <documentation>Description: method used to spatially represent the coverage result
shortName: spaRepType</documentation>
            </annotation>
          </element>
          <element name="resultFile" type="mai:MX_DataFile_PropertyType"/>
          <element name="resultSpatialRepresentation" type="gsm:MD_SpatialRepresentation_PropertyType"/>
          <element name="resultContentDescription" type="rco:MD_CoverageDescription_PropertyType"/>
          <element name="resultFormat" type="rdi:MD_Format_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QE_CoverageResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:QE_CoverageResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
