src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mai/1.0/metadataEntityImagery (Stephen Richard's conflicted copy 2012-10-16).xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:gco="http://www.isotc211.org/2005/gco" 
  xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2012-10-13" 
  xmlns:mdb="http://www.isotc211.org/2005/mdb/1.0/2012-10-13"
  elementFormDefault="qualified" 
  targetNamespace="http://www.isotc211.org/2005/mai/1.0/2012-10-13" version="">
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" schemaLocation="../../mdb/1.0/mdb.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MI_Metadata" substitutionGroup="mdb:MD_Metadata" type="mai:MI_Metadata_Type">
    <annotation>
      <documentation>Description: Root entity that defines information about imagery or gridded data
shortName: IMetadata</documentation>
    </annotation>
  </element>
  <complexType name="MI_Metadata_Type">
    <complexContent>
      <extension base="mdb:MD_Metadata_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="acquisitionInformation" type="mai:MI_AcquisitionInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Metadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Metadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
