src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mai/1.0/spatialRepresentationImagery.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dqm="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gsm="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:lin="http://www.isotc211.org/2005/lin/1.0/2012-10-13" xmlns:mai="http://www.isotc211.org/2005/mai/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mai/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Name: SpatialRepresentation
Position: 3</documentation>
  </annotation>
  <include schemaLocation="mai.xsd"/>
  <import namespace="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" schemaLocation="../../dqm/1.0/dqm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" schemaLocation="../../gsm/1.0/gsm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gss" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gss/gss.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lin/1.0/2012-10-13" schemaLocation="../../lin/1.0/lin.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MI_GCP" substitutionGroup="gco:AbstractObject" type="mai:MI_GCP_Type"/>
  <complexType name="MI_GCP_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="geographicCoordinates" type="gss:GM_Point_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="accuracyReport" type="dqm:DQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_GCP_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_GCP"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Georectified" substitutionGroup="gsm:MD_Georectified" type="mai:MI_Georectified_Type">
    <annotation>
      <documentation>Description: extends georectified grid description to include associated checkpoints
shortName: IGeorect</documentation>
    </annotation>
  </element>
  <complexType name="MI_Georectified_Type">
    <complexContent>
      <extension base="gsm:MD_Georectified_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="checkPoint" type="mai:MI_GCP_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Georectified_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Georectified"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_Georeferenceable" substitutionGroup="gsm:MD_Georeferenceable" type="mai:MI_Georeferenceable_Type">
    <annotation>
      <documentation>Description: Description of information provided in metadata that allows the geographic or map location raster points to be located
FGDC: Georeferencing_Description
shortName: IGeoref</documentation>
    </annotation>
  </element>
  <complexType name="MI_Georeferenceable_Type">
    <complexContent>
      <extension base="gsm:MD_Georeferenceable_Type">
        <sequence>
          <element minOccurs="0" name="platformParameters" type="mai:MI_Platform_PropertyType"/>
          <element maxOccurs="unbounded" name="geolocationInformation" type="mai:MI_GeolocationInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_Georeferenceable_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_Georeferenceable"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MI_GCPCollection" substitutionGroup="mai:AbstractMI_GeolocationInformation" type="mai:MI_GCPCollection_Type"/>
  <complexType name="MI_GCPCollection_Type">
    <complexContent>
      <extension base="mai:AbstractMI_GeolocationInformation_Type">
        <sequence>
          <element maxOccurs="unbounded" name="gcp" type="mai:MI_GCP_PropertyType"/>
          <element name="collectionIdentification" type="gco:Integer_PropertyType"/>
          <element name="collectionName" type="gco:CharacterString_PropertyType"/>
          <element name="coordinateReferenceSystem" type="gsm:MD_ReferenceSystem_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_GCPCollection_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:MI_GCPCollection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractMI_GeolocationInformation" substitutionGroup="gco:AbstractObject" type="mai:AbstractMI_GeolocationInformation_Type"/>
  <complexType abstract="true" name="AbstractMI_GeolocationInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="geolocationLineage" type="lin:LI_Lineage_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="qualityInfo" type="dqm:DQ_DataQuality_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MI_GeolocationInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mai:AbstractMI_GeolocationInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
