src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mdb/1.0/metadataEntity.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:dqm="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gsm="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" xmlns:lan="http://www.isotc211.org/2005/lan/1.0/2012-10-13" xmlns:lin="http://www.isotc211.org/2005/lin/1.0/2012-10-13" xmlns:mda="http://www.isotc211.org/2005/mda/1.0/2012-10-13" xmlns:mdb="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" xmlns:rco="http://www.isotc211.org/2005/rco/1.0/2012-10-13" xmlns:rdi="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" xmlns:svm="http://www.isotc211.org/2005/svm/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Moved MD_Scope and MD_ScopeDescription from Lineage package</documentation>
  </annotation>
  <include schemaLocation="mdb.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/dqm/1.0/2012-10-13" schemaLocation="../../dqm/1.0/dqm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" schemaLocation="../../gsm/1.0/gsm.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lan/1.0/2012-10-13" schemaLocation="../../lan/1.0/lan.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lin/1.0/2012-10-13" schemaLocation="../../lin/1.0/lin.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mda/1.0/2012-10-13" schemaLocation="../../mda/1.0/mda.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rco/1.0/2012-10-13" schemaLocation="../../rco/1.0/rco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" schemaLocation="../../rdi/1.0/rdi.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" schemaLocation="../../rmd/1.0/rmd.xsd"/>
  <import namespace="http://www.isotc211.org/2005/svm/1.0/2012-10-13" schemaLocation="../../svm/1.0/svm.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_ApplicationSchemaInformation" substitutionGroup="gco:AbstractObject" type="mdb:MD_ApplicationSchemaInformation_Type">
    <annotation>
      <documentation>Information about the application schema used to build the dataset</documentation>
    </annotation>
  </element>
  <complexType name="MD_ApplicationSchemaInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Name of the application schema used</documentation>
            </annotation>
          </element>
          <element name="schemaLanguage" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Identification of the schema language used</documentation>
            </annotation>
          </element>
          <element name="constraintLanguage" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="schemaAscii" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Full application schema given as an ASCII file.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="graphicsFile" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>Full application schema given as a graphics file. Implement BinaryData as ISO19103 Any</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="softwareDevelopmentFile" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>Full application schema given as a software development file.  Implement BinaryData as ISO19103 Any.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="softwareDevelopmentFileFormat" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Software dependent format used for the application schema software dependent file.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_ApplicationSchemaInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_ApplicationSchemaInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Metadata" substitutionGroup="gco:AbstractObject" type="mdb:MD_Metadata_Type">
    <annotation>
      <documentation>Information about the metadata</documentation>
    </annotation>
  </element>
  <complexType name="MD_Metadata_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="metadataIdentifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>this value should be a universally unique id UUID</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="defaultLocale" type="lan:PT_Locale_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="otherLocale" type="lan:PT_Locale_PropertyType"/>
          <element minOccurs="0" name="parentMetadata" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataScope" type="mdb:MD_MetadataScope_PropertyType"/>
          <element maxOccurs="unbounded" name="contact" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Party responsible for the metadata information</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="dateInfo" type="cit:CI_Date_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataStandard" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataProfile" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="alternativeMetadataReference" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataLinkage" type="cit:CI_OnlineResource_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="spatialRepresentationInfo" type="gsm:MD_SpatialRepresentation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceSystemInfo" type="gsm:MD_ReferenceSystem_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataExtensionInfo" type="mdb:MD_MetadataExtensionInformation_PropertyType"/>
          <element maxOccurs="unbounded" name="identificationInfo" type="rmd:MD_Identification_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="contentInfo" type="rco:MD_ContentInformation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="distributionInfo" type="rdi:MD_Distribution_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dataQualityInfo" type="dqm:DQ_DataQuality_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="resourceLineage" type="lin:LI_Lineage_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="portrayalCatalogueInfo" type="mdb:MD_PortrayalCatalogueReference_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="metadataConstraints" type="cit:MD_Constraints_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="applicationSchemaInfo" type="mdb:MD_ApplicationSchemaInformation_PropertyType"/>
          <element minOccurs="0" name="metadataMaintenance" type="rmd:MD_MaintenanceInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Metadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_Metadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MetadataScope" substitutionGroup="gco:AbstractObject" type="mdb:MD_MetadataScope_Type"/>
  <complexType name="MD_MetadataScope_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="resourceCode" type="cit:MD_ScopeCode_PropertyType"/>
          <element minOccurs="0" name="name" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_MetadataScope_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_MetadataScope"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_PortrayalCatalogueReference" substitutionGroup="gco:AbstractObject" type="mdb:MD_PortrayalCatalogueReference_Type">
    <annotation>
      <documentation>Information identifing the portrayal catalogue used</documentation>
    </annotation>
  </element>
  <complexType name="MD_PortrayalCatalogueReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="portrayalCatalogueCitation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Recommended reference to be used for the referring entity</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_PortrayalCatalogueReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_PortrayalCatalogueReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
