src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/mdb/1.0/metadataExtension.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mdb="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mdb/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Method used to represent geographic information in the dataset.  No changes for implementation (smr 20120711)</documentation>
  </annotation>
  <include schemaLocation="mdb.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_ExtendedElementInformation" substitutionGroup="gco:AbstractObject" type="mdb:MD_ExtendedElementInformation_Type">
    <annotation>
      <documentation>New metadata element, not found in ISO 19115, which is required to describe geographic data</documentation>
    </annotation>
  </element>
  <complexType name="MD_ExtendedElementInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Name of the extended metadata element.
NOTE: Do not duplicate any other Standard element name.</documentation>
            </annotation>
          </element>
          <element name="definition" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Definition of the extended element</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="obligation" type="mdb:MD_ObligationCode_PropertyType">
            <annotation>
              <documentation>Obligation and condition of the extended element</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="condition" type="gco:CharacterString_PropertyType"/>
          <element name="dataType" type="mdb:MD_DatatypeCode_PropertyType">
            <annotation>
              <documentation>Code which identifies the kind of value provided in the extended element</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maximumOccurrence" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Maximum occurrence of the extended element within the "..."</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="domainValue" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Valid values that can be assigned to the extended element. The same rules as those for standard elements are applied here</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="parentEntity" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Name of the metadata entity(s) under which this extended metadata element may appear. The name(s) may be standard or other extended metadata element(s).
(Must be the name of an existing standard or extended element.)</documentation>
            </annotation>
          </element>
          <element name="rule" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Relationship rule for the element, specified using the form given in this standard.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rationale" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Reason for creating the extended element</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="source" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>Name of the entity creating the extended element</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_ExtendedElementInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_ExtendedElementInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MetadataExtensionInformation" substitutionGroup="gco:AbstractObject" type="mdb:MD_MetadataExtensionInformation_Type">
    <annotation>
      <documentation>Information describing metadata extensions.</documentation>
    </annotation>
  </element>
  <complexType name="MD_MetadataExtensionInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="extensionOnLineResource" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>Information about online sources containing the community profile name and the extended metadata elements.  Information for all new metadata elements.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="extendedElementInformation" type="mdb:MD_ExtendedElementInformation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_MetadataExtensionInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_MetadataExtensionInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_DatatypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_DatatypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_DatatypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_ObligationCode" substitutionGroup="gco:CharacterString" type="mdb:MD_ObligationCode_Type"/>
  <simpleType name="MD_ObligationCode_Type">
    <restriction base="string">
      <enumeration value="mandatory"/>
      <enumeration value="optional"/>
      <enumeration value="conditional"/>
    </restriction>
  </simpleType>
  <complexType name="MD_ObligationCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdb:MD_ObligationCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
