src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/svm/1.0/serviceMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:rdi="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" xmlns:svm="http://www.isotc211.org/2005/svm/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/svm/1.0/2012-10-13" version="">
  <annotation>
    <documentation>no changes for implementation (smr 20120711)</documentation>
  </annotation>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rdi/1.0/2012-10-13" schemaLocation="../../rdi/1.0/rdi.xsd"/>
  <import namespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" schemaLocation="../../rmd/1.0/rmd.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="DCPList" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="DCPList_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:DCPList"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_ParameterDirection" substitutionGroup="gco:CharacterString" type="svm:SV_ParameterDirection_Type"/>
  <simpleType name="SV_ParameterDirection_Type">
    <restriction base="string">
      <enumeration value="in"/>
      <enumeration value="out"/>
      <enumeration value="in/out"/>
    </restriction>
  </simpleType>
  <complexType name="SV_ParameterDirection_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_ParameterDirection"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_CouplingType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="SV_CouplingType_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_CouplingType"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_ServiceIdentification" substitutionGroup="rmd:AbstractMD_Identification" type="svm:SV_ServiceIdentification_Type"/>
  <complexType name="SV_ServiceIdentification_Type">
    <complexContent>
      <extension base="rmd:AbstractMD_Identification_Type">
        <sequence>
          <element name="serviceType" type="gco:GenericName_PropertyType">
            <annotation>
              <documentation>A service type name from a registry of services. For, example, OGC may be the name space and catalogue may be the identifier.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="serviceTypeVersion" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Provides for searching based on the version of serviceType. For example, we may only be interested in OGC Catalogue V1.1 Services. By maintaining version as a separate attribute, users can easily search for all services of a type regardless of the version.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="accessProperties" type="rdi:MD_StandardOrderProcess_PropertyType">
            <annotation>
              <documentation>A entity imported from ISO 19115, including:
- Fees
-Planned availability date and time
- Ordering instructions
-Turnaround</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="couplingType" type="svm:SV_CouplingType_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="coupledResource" type="svm:SV_CoupledResource_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operatedDataset" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="profile" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="serviceStandard" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="operatesOn" type="rmd:MD_DataIdentification_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="containsOperations" type="svm:SV_OperationMetadata_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="containsChain" type="svm:SV_OperationChainMetadata_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_ServiceIdentification_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_ServiceIdentification"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_OperationMetadata" substitutionGroup="gco:AbstractObject" type="svm:SV_OperationMetadata_Type"/>
  <complexType name="SV_OperationMetadata_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="operationName" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" name="distributedComputingPlatform" type="svm:DCPList_PropertyType"/>
          <element minOccurs="0" name="operationDescription" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="invocationName" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" name="connectPoint" type="cit:CI_OnlineResource_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="svm:SV_Parameter_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="dependsOn" type="svm:SV_OperationMetadata_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_OperationMetadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_OperationMetadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_CoupledResource" substitutionGroup="gco:AbstractObject" type="svm:SV_CoupledResource_Type"/>
  <complexType name="SV_CoupledResource_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="scopedName" type="gco:ScopedName_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="resourceReference" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="resource" type="rmd:MD_DataIdentification_PropertyType"/>
          <element minOccurs="0" name="operation" type="svm:SV_OperationMetadata_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_CoupledResource_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_CoupledResource"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_OperationChainMetadata" substitutionGroup="gco:AbstractObject" type="svm:SV_OperationChainMetadata_Type"/>
  <complexType name="SV_OperationChainMetadata_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" name="operation" type="svm:SV_OperationMetadata_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_OperationChainMetadata_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_OperationChainMetadata"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SV_Parameter" substitutionGroup="gco:AbstractObject" type="svm:SV_Parameter_Type"/>
  <complexType name="SV_Parameter_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:MemberName_PropertyType"/>
          <element name="direction" type="svm:SV_ParameterDirection_PropertyType"/>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
          <element name="optionality" type="gco:CharacterString_PropertyType"/>
          <element name="repeatability" type="gco:Boolean_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SV_Parameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="svm:SV_Parameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
