src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/cit/1.0/constraints.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" version="">
  <annotation>
    <documentation>Move to citation namespace to get rid of circular imports</documentation>
  </annotation>
  <include schemaLocation="cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_Releasability" substitutionGroup="gco:AbstractObject" type="cit:MD_Releasability_Type"/>
  <complexType name="MD_Releasability_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="addressee" type="cit:CI_Responsibility_PropertyType"/>
          <element name="statement" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="disseminationConstraints" type="cit:MD_RestrictionCode_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Releasability_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_Releasability"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_LegalConstraints" substitutionGroup="cit:MD_Constraints" type="cit:MD_LegalConstraints_Type">
    <annotation>
      <documentation>Restrictions and legal prerequisites for accessing and using the dataset.</documentation>
    </annotation>
  </element>
  <complexType name="MD_LegalConstraints_Type">
    <complexContent>
      <extension base="cit:MD_Constraints_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="accessConstraints" type="cit:MD_RestrictionCode_PropertyType">
            <annotation>
              <documentation>Access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the dataset.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="useConstraints" type="cit:MD_RestrictionCode_PropertyType">
            <annotation>
              <documentation>Constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations or warnings on using the dataset
-Examples: "copyright", "license", "non-commercial", "none"</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="otherConstraints" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Other restrictions and legal prerequisites for accessing and using the dtaset</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_LegalConstraints_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_LegalConstraints"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_SecurityConstraints" substitutionGroup="cit:MD_Constraints" type="cit:MD_SecurityConstraints_Type">
    <annotation>
      <documentation>Handling restrictions imposed on the dataset because of national security, privacy, or other concerns</documentation>
    </annotation>
  </element>
  <complexType name="MD_SecurityConstraints_Type">
    <complexContent>
      <extension base="cit:MD_Constraints_Type">
        <sequence>
          <element name="classification" type="cit:MD_ClassificationCode_PropertyType">
            <annotation>
              <documentation>Name of the handling restrictions on the dataset</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="userNote" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Additional information about the classification</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="classificationSystem" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="handlingDescription" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Additional information about the restrictions on handling the dataset</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_SecurityConstraints_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_SecurityConstraints"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_ClassificationCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Name of the handling restrictions on the dataset</documentation>
    </annotation>
  </element>
  <complexType name="MD_ClassificationCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_ClassificationCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_Constraints" substitutionGroup="gco:AbstractObject" type="cit:MD_Constraints_Type">
    <annotation>
      <documentation>Restrictions on the access and use of a dataset or metadata</documentation>
    </annotation>
  </element>
  <complexType name="MD_Constraints_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="useLimitation" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Any limitation affecting the fitness for use of the dataset. Example, "not to be used for navigation"</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="constraintApplicationScope" type="cit:MD_Scope_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="graphic" type="cit:MD_BrowseGraphic_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="reference" type="cit:CI_Citation_PropertyType"/>
          <element minOccurs="0" name="releasability" type="cit:MD_Releasability_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="responsibleParty" type="cit:CI_Responsibility_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_Constraints_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_Constraints"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_RestrictionCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Limitation(s) placed upon the access or use of the data</documentation>
    </annotation>
  </element>
  <complexType name="MD_RestrictionCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="cit:MD_RestrictionCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
