src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/gsm/1.0/referenceSystem.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gsm="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/gsm/1.0/2012-10-13" version="">
  <annotation>
    <documentation>no changes for implementation</documentation>
  </annotation>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_ReferenceSystem" substitutionGroup="gco:AbstractObject" type="gsm:MD_ReferenceSystem_Type">
    <annotation>
      <documentation>information about the reference system</documentation>
    </annotation>
  </element>
  <complexType name="MD_ReferenceSystem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="referenceSystemIdentifier" type="cit:MD_Identifier_PropertyType">
            <annotation>
              <documentation>change ReferenceSystemIdentifier from RS_Identifier to MD_identifier</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="referenceSystemType" type="gsm:MD_ReferenceSystemTypeCode_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_ReferenceSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="gsm:MD_ReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_ReferenceSystemTypeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_ReferenceSystemTypeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="gsm:MD_ReferenceSystemTypeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
