src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/rmd/1.0/datasetMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:lan="http://www.isotc211.org/2005/lan/1.0/2012-10-13" xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" version="">
  <annotation>
    <documentation>new package created for decoupled xml implementation</documentation>
  </annotation>
  <include schemaLocation="rmd.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/lan/1.0/2012-10-13" schemaLocation="../../lan/1.0/lan.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_DataIdentification" substitutionGroup="rmd:AbstractMD_Identification" type="rmd:MD_DataIdentification_Type">
    <annotation>
      <documentation>information required to identify a resource</documentation>
    </annotation>
  </element>
  <complexType name="MD_DataIdentification_Type">
    <complexContent>
      <extension base="rmd:AbstractMD_Identification_Type">
        <sequence>
          <element minOccurs="0" name="defaultLocale" type="lan:PT_Locale_PropertyType">
            <annotation>
              <documentation>Language(s) used within the dataset</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="otherLocale" type="lan:PT_Locale_PropertyType"/>
          <element minOccurs="0" name="environmentDescription" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of the dataset in the producer's processing environment, including items such as the name of the software, the computer operating system, file name, and the dataset size</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="supplementalInformation" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Other descriptive information about the dataset. Example; Data Model</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_DataIdentification_PropertyType">
    <sequence minOccurs="0">
      <element ref="rmd:MD_DataIdentification"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
