src/main/resources/org/opengis/cite/www.ngdc.noaa.gov/metadata/published/xsd/xsdISO19115-3_20121013/rmd/1.0/maintenanceInformation.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2012-10-13" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:rmd="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/rmd/1.0/2012-10-13" version="">
  <include schemaLocation="rmd.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2012-10-13" schemaLocation="../../cit/1.0/cit.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gts/gts.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="MD_MaintenanceInformation" substitutionGroup="gco:AbstractObject" type="rmd:MD_MaintenanceInformation_Type">
    <annotation>
      <documentation>Information about the scope and frequency of updating</documentation>
    </annotation>
  </element>
  <complexType name="MD_MaintenanceInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="maintenanceAndUpdateFrequency" type="rmd:MD_MaintenanceFrequencyCode_PropertyType">
            <annotation>
              <documentation>Frequency with which changes and additions are made to the dataset after the initial dataset is completed.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceDate" type="cit:CI_Date_PropertyType"/>
          <element minOccurs="0" name="userDefinedMaintenanceFrequency" type="gts:TM_PeriodDuration_PropertyType">
            <annotation>
              <documentation>Maintenance period other than those defined</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceScope" type="cit:MD_Scope_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceNote" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="contact" type="cit:CI_Responsibility_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_MaintenanceInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rmd:MD_MaintenanceInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MaintenanceFrequencyCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_MaintenanceFrequencyCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="rmd:MD_MaintenanceFrequencyCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
